@if(clients) {
    <app-template-full-width title="Clients">
        <app-table-light [headers]="headers">
            @for (client of clients; track client.id) {
                <tr>
                    <td> {{ client.name }} </td>
                    <td> {{ client.totalCaHt }} </td>
                    <td> {{ client.tva }} </td>
                    <td> {{ client.comment }} </td>
                    <td [appClientState]="client.state">
                        <select (change)="changeStatus(client, $event)">
                            @for (state of states; track $index) {
                                <option [selected]="state === client.state" [value]="state">
                                    {{ state }}
                                </option>
                            }
                        </select>
                    </td>
                </tr>
            }
        </app-table-light>

        <app-button title="Add client" route="add"> </app-button>
    </app-template-full-width>
}