@if(clients) {
    <app-template-full-width title="Clients">
        <app-table-light [headers]="headers">
            @for (client of clients; track client.id) {
                <tr>
                    <td> {{ client.name }} </td>
                    <td> {{ client.totalCaHt }} </td>
                    <td> {{ client.tva }} </td>
                    <td> {{ client.comment }} </td>
                    <td> {{ client.state }} </td>
                </tr>
            }
        </app-table-light>

        <app-button title="Add client"> </app-button>
    </app-template-full-width>
}