@if(orders$ | async; as orders) {
    <app-template-full-width title="Orders">
        <app-table-light [headers]="headers">
            @for (item of orders; track item.id) {
                <tr >
                    <td> 
                        <span (click)="editOrder(item)">
                            <app-icon-edit> </app-icon-edit>
                        </span>
                        <span (click)="deleteOrderById(item.id)">
                            <app-icon-delete> </app-icon-delete>
                        </span>
                    </td>
                    <td> {{ item.typePresta }} </td>
                    <td> {{ item.client }} </td>
                    <td> {{ item.nbJours }} </td>
                    <td> {{ item.tjmHt | currency }} </td>
                    <td> {{ item | total | currency }} </td>
                    <td> {{ item | total : true | currency }} </td>
                    <td [appState]="item.state">
                        <select (change)="changeStatus(item, $event)">
                            @for (state of states; track $index) {
                                <option [selected]="state === item.state" [value]="state">
                                    {{ state }}
                                </option>
                            }
                        </select>
                    </td>
                </tr>
            }
        </app-table-light>
    
        <app-button title="Add order" route="add"> </app-button>
    </app-template-full-width>
}